@use "@/shared/styles/abstracts/index.scss" as *;

.primary-button {
    @include flex-center;
    min-height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $button-bg-color;
    color: $hover-color;
    width: 100%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    transition:
        background-color 0.3s,
        color 0.3s,
        transform 0.3s;

    &:hover {
        background-color: $hover-color;
        color: #fff;
    }

    &:active {
        transform: scale(0.95);
    }

    &__spinner {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        margin: 0 auto;
        animation: spinner 1s linear infinite;

        @keyframes spinner {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    &-reset {
        background-color: #ffbaba;
        color: #f27777;

        &:hover {
            background-color: #f27777;
            color: #fff;
        }
    }

    &-active {
        background-color: $hover-color;
        color: #fff;
    }

    &__counter,
    &__icon {
        background-color: $accent-bg-color;
        margin-left: 5px;
        border-radius: 50%;
        min-width: 24px;
        padding: 0 2px;
        height: 24px;
        color: $hover-color;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
