@use "@/shared/styles/abstracts/index.scss" as *;

.overview {
    background-color: $accent-bg-color;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;

    &__title {
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__icon {
        color: $hover-color;
        font-size: 22px;
        min-width: 22px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        font-weight: 700;
        display: block;
    }

    @media (max-width: 768px) {
        &__list {
            row-gap: 10px;
        }
    }
}
