.search {
    position: relative;

    &__close-btn {
        display: none;
        position: absolute;
        color: #c8dcff;
        top: 10px;
        right: 20px;
        z-index: 10;
    }

    &__search-btn {
        display: none;
        max-width: 150px;
        margin: 0 auto 20px;
    }

    @media (max-width: 768px) {
        &__form-wrapper {
            position: fixed;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 100;
            transition: all 0.3s;
            overflow-y: scroll;
            height: calc(100vh - 57px);

            &_show {
                top: 80px;
                top: 0;
            }
        }

        &__close-btn {
            display: block;
        }

        &__search-btn {
            display: block;
        }
    }
}
