@use "@/shared/styles/abstracts/index.scss" as *;

.form {
    padding: 10px;
    column-gap: 10px;
    border-radius: 5px;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    background-color: $accent-bg-color;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

    &__label {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        padding-left: 25px;
        background-color: #fff;

        &::placeholder {
            font-size: 14px;
            color: #b7b7b7;
        }
    }

    &__icon {
        font-size: 22px;
        position: absolute;
        z-index: 1000;
    }

    &__select {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        min-width: 140px;
    }

    &__select-icon {
        font-size: 22px;
        position: absolute;
        color: #fff;
        bottom: -3px;
        pointer-events: none;
    }

    &__btn {
        display: block;
        width: 100%;
    }

    @media (max-width: 768px) {
        max-width: 85%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        position: relative;
        margin: 0 auto;

        &__select-wrapper {
            grid-area: span 1 / span 2;
        }

        &__select-label {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 100%;
        }

        &__btn {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }

    @media (max-width: 576px) {
        max-width: 100%;
        margin: 0;
    }
}
