@use "@/shared/styles/abstracts/index" as *;

.info {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    flex-wrap: wrap;
    margin: 50px auto;

    &__items {
        display: flex;
    }

    &__item {
        max-width: 200px;
        width: 100%;
        text-align: center;
    }

    &__icon {
        font-size: 50px;
        color: $hover-color;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__text {
        transition: color 0.3s;

        &:hover {
            color: $hover-color;
        }
    }

    &__socials {
        display: none;
        justify-content: center;
        margin-top: 20px;
        min-width: 100%;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    @media (max-width: 1024px) {
        column-gap: 50px;
    }

    @media (max-width: 768px) {
        column-gap: 50px;
    }

    @media (max-width: 576px) {
        margin: 20px 0;
        column-gap: 10px;
    }
}
