@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin transition($property: all) {
    transition: $property 0.3s ease;
}

@mixin placeholder {
    font-size: 14px;
    color: #b7b7b7;
}
