$hover-color: #61a4fb;
$accent-bg-color: #f4f6fb;
$error-color: #ff9393;
$primary-color: #707275;
$button-bg-color: #dde7ff;
$placeholder-color: #b7b7b7;
$green: #7ddb93;
$light-green: #e7f7ea;
$light-gray: #e9e9e9;
