.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    &__titles {
        display: inline-block;
        background-color: #f4f6fbdd;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 6rem;
        font-weight: 700;
        max-width: 49rem;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    &__img {
        margin-left: auto;
        object-fit: cover;
        height: auto;
    }

    @media (max-width: 768px) {
        &__titles {
            max-width: 90%;
        }

        &__title {
            font-size: 5rem;
            margin-bottom: 5px;
        }
    }

    @media (max-width: 576px) {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__titles {
            margin: 0 auto 30px;
            text-align: center;
        }

        &__title {
            font-size: 4rem;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 375px) {
        margin-bottom: 30px;
    }
}
