.gallery {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2 1fr);
        gap: 10px;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__img-1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    &__img-4 {
        grid-column: span 2;
        grid-row: span 2;
    }
}
