@use "@/shared/styles/abstracts/index.scss" as *;

.link {
    @include flex-center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    min-height: 35px;
    padding: 10px;
    border-radius: 5px;
    background-color: $button-bg-color;
    color: $hover-color;
    font-weight: 700;
    position: relative;
    transition:
        background-color 0.3s,
        color 0.3s,
        transform 0.3s;

    &:hover {
        background-color: $hover-color;
        color: #fff;
    }
}
