@use "@/shared/styles/abstracts/index.scss" as *;

.menu {
    color: #000;
    display: flex;
    align-items: center;
    margin-left: auto;

    &__list {
        @include flex-align-center;
        font-weight: 700;
        height: 100%;
    }

    &__item {
        @include transition(color);
        border-radius: 5px;
        color: #707275;

        &:hover {
            color: $hover-color;
        }
    }

    &__link {
        @include flex-align-center;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &__link_active {
        color: $hover-color;
    }

    &__burger {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;

        &_close {
            justify-content: center;
            align-items: center;
        }

        &-line {
            height: 2px;
            width: 100%;
            background-color: #707275;
            transition:
                transform 0.3s,
                background-color 0.3s;

            &_close-one {
                position: absolute;
                transform: rotate(45deg);
                background-color: $hover-color;
            }
            &_close-two {
                opacity: 0;
            }
            &_close-three {
                position: absolute;
                transform: rotate(-45deg);
                background-color: $hover-color;
            }
        }
    }

    @media (max-width: 1024px) {
        z-index: 999;

        &__burger {
            display: flex;
        }

        &__list {
            backdrop-filter: blur(10px);
            top: 0;
            left: -100%;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            background-color: #ffffffca;
            max-width: 300px;
            width: 100%;
            height: 100vh;
            padding-top: 50px;
            box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
            transition: left 0.3s;
            row-gap: 10px;
        }

        &__list_open {
            left: 0;
        }

        &__link {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        &__list {
            max-width: 100%;
            top: 100%;
            left: 0;
            transition: top 0.3s;
            padding-top: 0;
        }
    }

    &__list_open {
        top: 0;
    }
}
