@use "@/shared/styles/abstracts/index.scss" as *;

.menu {
    color: #000;

    &__list {
        @include flex-align-center;
        font-weight: 700;
        height: 100%;
    }

    &__item {
        @include transition(color);
        border-radius: 5px;

        &:hover {
            color: $hover-color;
        }
    }

    &__link {
        @include flex-align-center;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &__link_active {
        color: $hover-color;
    }
}
