@use "@/shared/styles/abstracts/index.scss" as *;

.review {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $light-gray;
    background-color: $accent-bg-color;

    &__position {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    &__rating-and-date {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 10px;
    }

    &__other-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__other-info-item {
        background-color: $accent-bg-color;
        background-color: #fff;
        padding: 2px 10px;
        border-radius: 5px;
    }

    &__pros,
    &__cons,
    &__ratings {
        margin-bottom: 30px;
    }

    &__title {
        display: inline-block;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    &__ratings-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 50px;
    }

    &__ratings-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__benefits-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__benefits-item {
        background-color: $green;
        color: #fff;
        padding: 2px 10px;
        border-radius: 5px;
        font-weight: 700;
    }

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__ratings-item {
            column-gap: 50px;
        }

        &__ratings-list {
            grid-template-columns: 1fr;
            column-gap: 20px;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        &__benefits-list {
            justify-content: center;
        }
    }

    @media (max-width: 576px) {
        &__other-info {
            flex-wrap: wrap;
            margin-bottom: 15px;
            justify-content: center;
        }

        &__pros,
        &__cons,
        &__ratings {
            margin-bottom: 15px;
        }

        &__title {
            margin-bottom: 2px;
        }
    }
}
