.top-companies {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;

    &__titles {
        margin-bottom: 40px;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 40px;
    }

    &__link-all {
        max-width: 200px;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }

    @media (max-width: 1024px) {
        margin-bottom: 12rem;
    }

    @media (max-width: 768px) {
        margin-bottom: 8rem;

        &__titles {
            margin-bottom: 20px;
        }

        &__list {
            grid-template-columns: 1fr;
            gap: 10px;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 576px) {
        margin-bottom: 6rem;

        &__titles {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
