.city-item {
    position: relative;
    border-radius: 5px;

    &:focus-within {
        box-shadow: 0 0 15px #0081ff;
        transform: scale(1.01);
    }

    &__img {
        min-width: 250px;
        max-height: 310px;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        transition:
            box-shadow 0.3s,
            transform 0.3s;

        &:hover {
            box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
            transform: scale(1.01);
        }
    }

    &__name {
        color: #fff;
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        padding: 3px 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background: rgba(0, 0, 0, 0.2);
    }
}
