@use "@/shared/styles/abstracts/index.scss" as *;

.additional-menu {
    margin-left: auto;
    margin-right: 20px;

    &__links {
        @include flex-align-center;
        column-gap: 15px;
    }

    &__link {
        @include flex-align-center;
        position: relative;

        &:hover {
            color: $hover-color;
        }
    }

    &__link_active {
        color: $hover-color;
    }

    &__icon {
        font-size: 26px;
        line-height: 0;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;

        &__links {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 25px;
        }
    }
}
