@use "@/styles/abstracts/index.scss" as *;

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1430px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;

    &__logo {
        @include flex-align-center;
    }

    &__logo-img {
        height: 6rem;
        width: 6rem;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        color: #338fbe;
    }

    &__auth {
        @include flex-align-center;
    }
}
